/* src/styles/partials/_base.scss */

nav {
  margin: 0;
}

/* Autres styles globaux */


html, body, #__next {
  height: 100%;
  max-height: calc(var(--vh) * 100);
  margin: 0;
}

p {
  margin: 0%;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.div_body {
  touch-action: none;
}

.fullscreen-section {
  height: 100vh; 
  height: calc(var(--vh) * 100); 
}

