/* src/styles/partials/_components.scss */
@import "../partials/variables";
/* Composant Rain */

.ctrl_rain {
  z-index: 20;
}

.rain {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.rain.back-row {
  z-index: 0;
  opacity: 0.5;
}

.drop {
  position: absolute;
  bottom: 100%;
  animation: drop linear infinite;
}

.head {
  border-radius: 50%;
  position: relative;
}

.tail {
  position: relative;
  transform-origin: top center;
  transform: scaleY(0.1);
  animation: tailGrow linear infinite;
  animation-fill-mode: forwards;
}

.stem {
  width: 0.5px;
  height: 0; /* Initialement à 0 */
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.25)
  );
  animation: stem 15s linear infinite;
  animation-timing-function: ease-out; /* Pour que la goutte ralentisse en grandissant */
  animation-fill-mode: forwards;
}

.toggles {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.toggle {
  position: absolute;
  left: 20px;
  width: 50px;
  height: 50px;
  line-height: 51px;
  box-sizing: border-box;
  text-align: center;
  font-family: sans-serif;
  font-size: 10px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.toggle:active {
  background-color: rgba(255, 255, 255, 0.3);
}

.toggle.active {
  background-color: rgba(255, 255, 255, 0.4);
}

.splat-toggle {
  top: 20px;
}

.back-row-toggle {
  top: 90px;
  line-height: 12px;
  padding-top: 14px;
}

.single-toggle {
  top: 160px;
}

body.single-toggle .drop {
  display: none;
}

body.single-toggle .drop:nth-child(10) {
  display: block;
}

/* header Composant Clouds */

.lightning-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: visible;
}

.nav_header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 50%;
  padding-left: 20px;
  z-index: 499;
}

.btn_burger-header img {
  width: 24px;
  height: 24px;
  z-index: 1010;
}

.clouds {
  position: absolute;
  top: 0; /* Align to the top of the header */
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cloud {
  position: absolute;
  width: 300px;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
  animation: animeClouds calc(6s * var(--i)) linear infinite;
}

.cloud1 {
  background-image: url("/images/cloud1.png");
  --i: 1;
}

.cloud2 {
  background-image: url("/images/cloud2.png");
  --i: 2;
}

.cloud3 {
  background-image: url("/images/cloud3.png");
  --i: 3;
}

.cloud4 {
  background-image: url("/images/cloud4.png");
  --i: 4;
}

.cloud5 {
  background-image: url("/images/cloud5.png");
  --i: 5;
}

.cloud6 {
  background-image: url("/images/cloud6.png");
  --i: 11;
}

.cloud7 {
  background-image: url("/images/cloud7.png");
  --i: 4;
}

.cloud8 {
  background-image: url("/images/cloud8.png");
  --i: 2;
}

.drip {
  position: relative;
  overflow: hidden;
}

.drip::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: inherit;
  animation: drip 15s ease-in-out infinite;
}

//home.js

.home_ctrl-div {
  display: flex;
  width: 100%;
}

.home_container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
  z-index: 1;
}

.nav_main-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.content-container {
  width: 100%;
  overflow-y: auto;
  padding-bottom: 60px;
}

.btn_cv-main-home {
  color: var(--h2Color);
  padding: 5px;
}

.btn_projets-main-home {
  color: var(--h2Color);
  padding: 5px;
}

.btn_idees-main-home {
  color: var(--h2Color);
  padding: 5px;
}

.main_home {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.body_layout {
  display: flex;
  flex-direction: column;
  height: calc(var(--vh, 1vh) * 100);
}

.main_layout {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
}

.projects-dates-footer-landscape {
  position: relative;
  width: 100%;
  height: 80px;
  overflow: hidden;
}

.date-group {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date-group div {
  height: 15px;
  background-color: transparent;
  border-bottom: 1.5px dashed #677684;
}

.date-group p {
  margin-top: 5px;
  font-family: "Jockey One", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: var(--datesColor);
  text-align: center;
}

.fixed-top {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.home_footer,
.cv_footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color:  var(--bgBody);
  border-top: 1px solid #ddd;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.footer_link {
  text-decoration: none;
}

.footer_icon {
  width: 40px;
  height: 40px;
}

.svg-icon {
  width: 40px; 
  height: 40px;
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.3s ease; 
}

/* Mode Sombre */
.home-linkedin.dark-mode {
  background-image: url("/images/LinkedIn_iconDarkMode.svg");
}

/* Mode Clair */
.home-linkedin.light-mode {
  background-image: url("/images/LinkedIn_icon.svg");
}

/* Mode Sombre */
.home-mail.dark-mode {
  background-image: url("/images/mailDarkMode.svg"); /* Remplacez par votre SVG sombre */
}

/* Mode Clair */
.home-mail.light-mode {
  background-image: url("/images/mail.svg"); /* Remplacez par votre SVG clair */
}

/* Mode Sombre */
.home-call.dark-mode {
  background-image: url("/images/callDarkMode.svg"); /* Remplacez par votre SVG sombre */
}

/* Mode Clair */
.home-call.light-mode {
  background-image: url("/images/call.svg"); /* Remplacez par votre SVG clair */
}

/* Mode Sombre */
.home-copy-call.dark-mode {
  background-image: url("/images/content_copyDarkMode.svg"); /* Remplacez par votre SVG sombre */
}

/* Mode Clair */
.home-copy-call.light-mode {
  background-image: url("/images/content_copy.svg"); /* Remplacez par votre SVG clair */
}

// Speech bubble

.comic_bubble {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 60px;
  z-index: 1;
    border-color: var(--btnBlankEnd);
  -webkit-box-shadow: 5px 4px 4px 1px var(--boxShadow);
  box-shadow: 5px 4px 4px 1px var(--boxShadow);
}

.comic_bubble:after {
  content: "";
  position: absolute;
  box-shadow: var(--boxShadow)  5px 5px 4px 0px;
  -moz-transform: rotate(35deg);
  -webkit-transform: rotate(35deg);
  bottom: -8px;
  right: 13px;
  border-width: 15px;
  border-style: solid;
  border-color: var(--btnBlankEnd);
}

.comic_bubble p {
  padding-bottom: 15px;
  font-size: 25px;
  font-weight: bold;
  font-family: "Livvic";
  color: var(--h1Icons);
}

.comic_bubble a {
  font-family: "Inter";
  color: var(--textColor);
  text-decoration: none;
  background-color: var(--btnBlankEnd);

}
