// src/styles/partials/_variables.scss

// arriere-plan
$background: #FBFDFF;

// avant-plan/modal
$foreground: #D2DDE8;


$main_text_color: #000000;

//Couleurs
$colors: (
  "h2": #677684,
  "red": #e3342f,
  "blue": #3490dc,
  "green": #38c172,
  "yellow": #ffed4a,
  "purple": #9561e2,
  "gray": #6c757d,
);
